---
---
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


body {
     background-color: black;
     display: block;
     width: 100%;
     height: 100%;
     padding-left: 10px;
     padding-right: 10px;
}
 #wrapper {
     width: 100%;
     min-width: 100px;
     max-width: 853px;
     margin: 0px auto;
     color: black;
     padding: 1 1 1 1;
     opacity: 0.9;
}
 h1 {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 900;
     font-size: 55px;
     color: white;
     line-height: 0.9em;
}
 h2 {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 500;
     font-size: 45px;
     color: white;
     line-height: 1.3em;
}

 h3 {
  color: white;
	font-size: 6em;
	font-family: 'IBM Plex Mono', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	transform: skewY(-15deg);
}

 hr {
     border: none;
     background-color: white;
     color: white;
     height: 20px;
}

 p {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 400;
     color: white;
     font-size: 20px;
     line-height: 1.5em;
}

 .see-also {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 800;
     font-size: 20px;
     line-height: 150%;
}

 ul {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 400;
     color: white;
     font-size: 20px;
     line-height: 1.5em;
}

 li {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 400;
     color: white;
     font-size: 20px;
     line-height: 1.5em;
}

/* unvisited link */
a:link {
    color: pink;
    text-decoration: none;
}

/* mouse over link */
 a:hover {
     color: green;
     text-decoration: none;
}
/* selected link */
 a:active {
     color: pink;
     text-decoration: none;
}

a:visited {
    color: pink;
    text-decoration: none;
}

 .caption {
     font-size: 20px;
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 300;
     color: white;
     line-height: 110%;
}
 .footer {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 800;
     font-size: 20px;
     line-height: 150%;
}
 .video-container {
     position: relative;
}
 video {
     height: auto;
     vertical-align: middle;
     align: middle;
     width: 100%;
}

.overlay-desc {
  background: alpha;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5
}
 .overlay-name {
     color: green;
     font-weight: 100;
     font-family: 'IBM Plex Mono', sans-serif;
     font-size: 5em;
     text-align: center;
     line-height: 90%
}
